#----------------------------------------------------------------------------------------------------------------------#
# Development environment

# Local
*.local.*
*.local**

# Developer-Specific
.dev/
.kanbn/

#----------------------------------------------------------------------------------------------------------------------#
# Environment Variables

# dotenv Files
.env.*.local
.env.local

#----------------------------------------------------------------------------------------------------------------------#
# Generated Build

# General
build/
out/

# Rust and Cargo
target/
debug/
*.pdb

# TypeScript
*.tsbuildinfo

#----------------------------------------------------------------------------------------------------------------------#
# Dependencies

# Typescript Dependencies
node_modules/

#----------------------------------------------------------------------------------------------------------------------#
# Linters and Formatters

# rustfmt
**/*.rs.bk

#----------------------------------------------------------------------------------------------------------------------#
